venv/
__pycache__/
*.pyc
.env
auth/*.json
backups/
db-admin/
logs/
dump.rdb
cloudflare.log
database/*.db
audio_workspace/pendings/
audio_workspace/telegram/
audio_workspace/youtube/
audio_workspace/inputs/
audio_workspace/outputs/
audio_workspace/temp/
